#corpo {
    border: 5px dotted red;
    background: lightgreen;
}

.bloco {
    background: lightsalmon;
    border: 1px solid gray;
    height: 250px;
    width:  250 px;
    line-height: 250px;
    text-align: center;
    float: left;
}
.bloco1 {
    background: lightsalmon;
    border: 1px solid gray;
    height: 250px;
    width:  250 px;
    line-height: 250px;
    text-align: center;
    float: right;
}


